@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?97870968');
  src: url('../font/fontello.eot?97870968#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?97870968') format('woff2'),
       url('../font/fontello.woff?97870968') format('woff'),
       url('../font/fontello.ttf?97870968') format('truetype'),
       url('../font/fontello.svg?97870968#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.demo-icon
{
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block !important;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center; 
	margin-right: 10px;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?97870968#fontello') format('svg');
  }
}
*/
 
.icon-github:before { content: '\f308';} /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
